#page_content
{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    min-width: 425px;
    margin: 1em;
}

#statement
{
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    min-width: 425px;
    background-color: #eaebea;
    flex: 0 1 48em;
}

#statement >*
{
    margin: 1em;
}

#statement ol li
{
    display: list-item;
    list-style-type: upper-roman;
    margin: 1em 1em 1em 2em;
}