#page_content
{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    min-width: 425px;
    margin: 1em;
}

#category_filter
{
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    min-width: 425px;
    background-color: #eaebea;
    flex: 0 1 51em;
}

#category_filter >*
{
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

#choose_category
{
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    min-width: 425px;
    background-color: #eaebea;
    flex: 0 1 30em;
}

h1
{
    margin: 0.5em 1em 0em 1em;
}

#no_prod
{
    margin: 1em;
}

#filtered_products a
{
    flex: 0 1 23.5em;
    margin: 0.5em 1em 1em 1em;
    padding: 0em;
    max-height: none;
    color: black;
}

#filtered_products a:hover
{
    background-color: #e0e0e0;
    box-shadow: inset 0 0 5px #e0e0e0;
}

.filtered_product >*
{
    margin: 1em;
}

.filtered_product .picture
{
    height: 8em;
    width: 8em;
}

select
{
    flex: 0 1 10em;
    height: 2.5em;
    margin: 1em;
    margin-left: 2em;
	padding: 5px;
    padding-left: 10px;
    background-color: #fffeb3;
    border: 1px solid #ffe28a;
}

#set_req_category
{
    text-align: center;
    color: #fffeb3;
    text-decoration: none;
    border: none;
    background-color: #666547;
    margin: 1.5em 1.5em 2.5em;
    padding: 0.5em;
    font-size: 1em;
}

#set_req_category:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
    cursor: pointer;
}