#page_content
{
    display: flex;
    margin: 1em 1em 1em 1em;
    min-width: 425px;
    justify-content: center;
}

#page_content >*
{
    flex-direction: column;
    flex: 0 1 55em;
    background-color: #eaebea;
}

#page_content >* >*
{
    padding: 0.5em;
}

#page_content #not_logged_in
{
    display: flex;
    flex: 0 1 40em;
    margin-top: 1em;
}

#not_logged_in >*
{
    margin: 0.5em 1em;
}

#account div
{
    flex: 0 1 100%;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#account #success
{
    flex-direction: row;
    flex: 0 1 5em;
    background-color: #eaebea;
}

#account #error
{
    flex-direction: row;
    flex: 0 1 5em;
    background-color: #eaebea;
}

#account #success >*
{
    flex-direction: column;
    flex: 1 0 100%;
    margin: 0.5em;
	padding: 0px;
    padding-left: 0px;
    height: 1em;
    background-color: #eaebea;
    border: 0px;
    color: #48d692;
    font-weight:bold;
}

#account #error >*
{
    flex-direction: column;
    flex: 1 0 100%;
    margin: 0.5em;
	padding: 0px;
    padding-left: 0px;
    height: 1em;
    background-color: #eaebea;
    border: 0px;
    color: #fb2e01;
    font-weight:bold;
}

#account div >*
{
    flex: 1 0 10%;
    height: 1.5em;
    margin: 0.5em;
	padding: 5px;
    padding-left: 10px;
    background-color: #fffeb3;
    border: 1px solid #ffe28a;
}

#profile label
{
    margin-top: 0.4em;
    text-align: center;
    text-decoration: none;
    color: #fffeb3;
    border: none;
    max-height: 1.458em;
    background-color: #666547;
    text-decoration: none;
}

#profile label:hover, #profile label input:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
    cursor: pointer;
}

label input
{
    color: #666547;
    border: none;
    opacity: 0;
    pointer-events: none;
}

#account form #profile label
{
    flex: 1 0 10%;
}

#account form #profile #username_new
{
    flex: 1 0 45%;
}

#detailed_information textarea
{
    font-size: 0.9em;
	height: 5em;
    padding: 10px;
    padding-left: 10px;
    background-color: #fffeb3;
    border: 1px solid #ffe28a;
}

#submit_changes input
{
    text-align: center;
    color: #fffeb3;
    text-decoration: none;
    border: none;
    background-color: #666547;
    margin: 0em 1em 1em 1em;
    padding: 1em 1em 2em 1em;
    font-size: 0.9723em;
}

#submit_changes input:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
    cursor: pointer;
}

#account p
{
    margin-left: 2em;
}

#account #privacy_settings div
{
    flex: 0 1 28%;
    height: 1em;
    margin: 0em 0em 0em 1.2em;
    padding: 0em;
    background-color: #eaebea;
    border: 0px;
}

#account #privacy_settings div input
{
    margin: 0.1em 0.5em 0em 0em;
    padding: 0em;
    flex: 0 0 1em;
    height: 1em;
}

#account #privacy_settings div label
{
    height: 1em;
    margin: 0em;
    padding: 0em;
    background-color: #eaebea;
    border: 0px;
}
