*
{
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

header
{
    font-size: 1.2em;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
}

nav
{
    flex: 0 1 100%;
}

#nav_bar
{
    flex-wrap: wrap;
	flex-direction: row;
    background-color: #666547;
    box-shadow: 0 0 5px #666666;
	display: flex; 
    min-width: 425px;
}

li
{
    list-style-type: none;
    display: flex;
}

#nav_spacer
{
    flex: 1 1 5%;
}

a
{
    max-height: 1.5em;
    color: #fffeb3;
    text-decoration: none;
    display: block;
    padding: 1em;
}

a:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
}

#search_bar
{
    flex: 1 1 40%;
    display: flex;
}

#search_form
{
    flex: 1 1 100%;
    flex-wrap: nowrap;
    display: flex;
    margin: 1em;
}

#search_box
{   
    flex: 1 1 90%;
    padding: 5px;
    padding-left: 10px;
    background-color: #fffeb3;
    border: 1px solid #ffe28a;
}

#search_button
{
    flex: 1 1 10%;
	padding-left: 0;
    background-color: #ffe28a;
    border: 1px solid #ffe28a;
}

#search_button:hover
{
	box-shadow: 0 0 1px #555555;
    cursor: pointer;
}

#my_account a
{
    padding: 0.8em 1em 1.2em 1em;
}

#spacer
{
    height: 6em;
}