#page_content
{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    margin: 0.5em;
}

#page_content >*
{
    min-width: 425px;
    flex: 1 1 20%;
    flex-wrap: nowrap;
    margin: 0.5em;
    background-color: #eaebea;
}

#choose_category
{
    flex: 1 1 30%;
    text-align: center;
}

#choose_category >*
{
    /* top | horizon | bottom */
    margin: 1em 1.5em;
}

#choose_category #dropdown
{
    margin: 2em 0em 0em 0em;
}

#dropdown
{
    flex: 0 1 10em;
    height: 2.5em;
    margin: 1em;
    margin-left: 2em;
	padding: 5px;
    padding-left: 10px;
    background-color: #fffeb3;
    border: 1px solid #ffe28a;
}

#set_req_category
{
    text-align: center;
    color: #fffeb3;
    text-decoration: none;
    border: none;
    background-color: #666547;
    margin: 1.5em 1.5em 2.5em;
    padding: 0.5em;
    font-size: 1em;
}

#set_req_category:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
    cursor: pointer;
}

#welcome_tab
{
    flex: 1 1 35%;
    text-align: center;
}

#welcome_tab >*
{
    /* top | horizon | bottom */
    margin: 2.5em 1.5em 0em;
}

#welcome_register
{
   background-color: #666547; 
   margin-bottom: 0.5em;
   padding: 0.5em;
}

#welcome_log_in
{
    background-color: #666547;
    margin: 0em 1.5em 2.5em;
    padding: 0.5em;
}

#welcome_register:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
}

#welcome_log_in:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
}

#page_content .item_link
{
    flex: 0 1 23.5em;
    margin: 0.5em 1em 1em 1em;
    padding: 0em;
    max-height: none;
    color: black;
}

#page_content .item_link
{
    min-width: 425px;
    flex: 1 1 20%;
    min-height: 15em;
    flex-wrap: nowrap;
    margin: 0.5em;
    background-color: #eaebea;
}

#page_content .item_link:hover
{
    background-color: #e0e0e0;
    box-shadow: inset 0 0 5px #e0e0e0;
}

.filtered_product >*
{
    /* top | horizon | bottom */
    margin: 1em 1.5em 0em;
    height: 2em;
}

.prod_picture
{
    float: left;
    margin: 1em 1.5em 1em;
    width: 8em;
    height: 8em;
}