#page_content
{
    display: flex;
    justify-content: center;
    min-width: 425px;
    margin: 0em 1em;
}

#page_content >*
{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    margin: 0em 1em 1em 1em;
    justify-content: center;
    min-width: 425px;
}

#log_in
{
    min-width: 425px;
    flex: 0 1 30em;
    flex-wrap: nowrap;
    margin-top: 1em;
    background-color: #eaebea;
    display: flex;
    flex-direction: column;
}

#log_in >*
{
    /* top | horizon | bottom */
    margin: 1em 1.5em 0.5em;
    flex: 1 0 auto;
}

#already_logged_in
{
    min-width: 425px;
    flex: 0 1 30em;
    flex-wrap: nowrap;
    margin-top: 1em;
    background-color: #eaebea;
    display: flex;
    flex-direction: column;
}

#already_logged_in >*
{
    margin: 0.5em 1em;
}

#log_in input
{
	height: 2.5em;
    padding: 5px;
    padding-left: 10px;
    background-color: #fffeb3;
    border: 1px solid #ffe28a;
}

#log_in #log_in_button
{
    text-align: center;
    color: #fffeb3;
    text-decoration: none;
    border: none;
    background-color: #666547;
    margin: 1.5em 1.5em 2.5em;
    padding: 0.5em;
    font-size: 1em;
}

#log_in #log_in_button:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
    cursor: pointer;
}

#log_in #log_in_button input
{
    display: none;
}

#go_register
{
    text-align: center;
    color: #fffeb3;
    text-decoration: none;
    border: none;
    background-color: #666547;
    margin: 0.5em 1.5em 2em;
    padding: 0.5em;
}

#go_register:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
}

#goto_accessibility_statement
{
    text-align: center;
    color: #fffeb3;
    text-decoration: none;
    border: none;
    background-color: #666547;
    margin: 0.5em 1.5em 2em;
    padding: 0.5em;
}

#goto_accessibility_statement:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
}

.error
{
    font-weight:bold;
    color: #fb2e01;
}