
.page_content
{
    display: flex;
    margin: 1em 1em 1em 1em;
    min-width: 425px;
    justify-content: center;
}

.page_content >*
{
    flex-direction: column;
    flex: 0 1 45em;
    background-color: #eaebea;
}

.page_content >* >*
{
    padding: 0.5em;
}

#new_product div
{
    display: flex;
    flex-wrap: wrap;
}

#new_product div >*
{
    margin: 0.5em;
    flex-direction: row;
    flex: 1 0 10em;
    height: 1.5em;
	padding: 5px;
    padding-left: 10px;
    background-color: #fffeb3;
    border: 1px solid #ffe28a;
}

div #category_selector
{
    height: 2.5em;
}

#new_product div label
{
    text-align: center;
    text-decoration: none;
    color: #fffeb3;
    border: none;
    flex: 1 0 20%;
    background-color: #666547;
    max-height: 1.45em;
    font-size: 0.95em;
}

#new_product div label:hover, #new_product div label input:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
    cursor: pointer;
}

label input
{
    color: #666547;
    border: none;
    opacity: 0;
    pointer-events: none;
}

#new_product div textarea
{
	height: 5em;
    padding: 5px;
    padding-left: 10px;
    background-color: #fffeb3;
    border: 1px solid #ffe28a;
}

div #list_prod_button
{
    text-align: center;
    color: #fffeb3;
    text-decoration: none;
    border: none;
    background-color: #666547;
    font-size: 1em;
    max-height: 1.975em;
    height: 2em;
}

div #list_prod_button:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
    cursor: pointer;
}

.page_content #success >*
{
    flex-direction: column;
    flex: 1 0 100%;
    margin: 0.5em;
	padding: 0px;
    padding-left: 0px;
    background-color: #eaebea;
    border: 0px;
    color: #48d692;
    font-weight:bold;
}

.page_content #success a
{
    flex-direction: column;
    flex: 1 0 100%;
    margin: 0.5em;
	padding: 0px;
    padding-left: 0px;
    background-color: #eaebea;
    border: 0px;
    color: #666547;
    font-weight:bold;
    text-decoration: underline;
}

.page_content #success a:hover
{
    box-shadow: none;
    color: black;
}

.page_content #error >*
{
    flex-direction: column;
    flex: 1 0 100%;
    margin: 0.5em;
	padding: 0px;
    padding-left: 0px;
    background-color: #eaebea;
    border: 0px;
    color: #fb2e01;
    font-weight:bold;
}

.page_content #not_logged_in
{
    flex-direction: column;
    background-color: #eaebea;
}

#not_logged_in >*
{
    margin: 0.5em;
}