#page_content
{
    justify-content: center;
	flex-direction: row;
    display: flex;
    margin: 1em;
    min-width: 425px;
    flex-wrap: wrap;
}

#notifications
{
    display: flex;
    flex-direction: column;
    min-width: 425px;
    flex: 0 1 42em;
    background-color: #eaebea;
}

#notifications >*
{
    margin: 1em;
}

.notification_new
{
    padding: 1em;
    background-color: #e0e0e0;
    border: 2px solid #666547;
}

.notification_old
{
    padding: 1em;
    background-color: #e0e0e0;
    border: 2px solid #dadada;
}

.notification_new:hover, .notification_old:hover
{
    box-shadow: inset 0 0 5px #e0e0e0;
}

.notif_link
{
    color: #666547;
    font-weight: bold;
    max-height: 1em;
    text-decoration: underline;
    padding: 0em;
    display: inline;
}

.notif_link:hover
{
    background-color: initial;
    box-shadow: none;
    color: black;
}

#not_logged_in
{
    display: flex;
    flex-direction: column;
    min-width: 425px;
    flex: 0 1 28em;
    background-color: #eaebea;
}

#not_logged_in >*
{
    margin: 1em;
}