#page_content
{
    justify-content: center;
	flex-direction: row;
    display: flex;
    margin: 0em 1em 1em 1em;
    min-width: 425px;
    flex-wrap: wrap;
}

#product
{
    margin-top: 1em;
    min-width: 425px;
    flex: 0 1 52em;
    background-color: #eaebea;
}

#product div
{
    flex-direction: row;
    display: flex;
}

#product div div
{
    flex: 0 1 auto;
    flex-direction: column;
    display: flex;
}

#product div #seller
{
    flex-direction: row;
}

#seller #seller_id_link
{
    color: #706f4e;
    background-color: #eaebea;
    box-shadow: none;
    max-height: 1em;
    text-decoration: underline;
    margin: 0em;
    margin-left: 0.5em;
    padding: 0em;
    display: inline;
}

#seller_id_link:hover
{
    color: black;
}

#product div #tags
{
    flex-direction: row;
}

#tags #category_link
{
    color: #706f4e;
    background-color: #eaebea;
    box-shadow: none;
    max-height: 1em;
    text-decoration: underline;
    margin: 0em;
    margin-left: 0.5em;
    padding: 0em;
    display: inline;
}

#category_link:hover
{
    color: black;
}

#product div >*
{
    margin: 0.5em;
}

#product_details #product_media
{
    flex-direction: row;
    flex-wrap: wrap;
}

#prod_picture img
{
    height: 11em;
    width: 11em;
}

.media
{
    padding: 0.5em;
    height: 8em;
    width: 8em;    
}

.media:hover
{
    background-color: #e0e0e0;
    box-shadow: inset 0 0 5px #e0e0e0;
}

#bid_textbox
{
    height: 2.5em;
    padding: 5px;
    padding-left: 10px;
    background-color: #fffeb3;
    border: 1px solid #ffe28a;
}

#bid_button, #close_bidding_button, #delete_user
{
    text-align: center;
    color: #fffeb3;
    text-decoration: none;
    border: none;
    background-color: #666547;
    margin: 0.6em 0.6em 0.6em 0em;
    padding: 0.45em;
    font-size: 1em;
}

#bid_button:hover, #close_bidding_button:hover, #delete_user:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
    cursor: pointer;
}

#sold, #offline
{
    font-weight:bold;
    color: #666547;
}

.error
{
    font-weight:bold;
    color: #fb2e01;
    margin: 1em;
}

.success
{
    font-weight:bold;
    color: #48d692;
    margin: 1em;
}

#error_dialog
{
    margin: 1em;
    min-width: 425px;
    flex: 0 1 32em;
    background-color: #eaebea;
}

#error_dialog >*
{
    padding: 1em;
}