.page_content
{
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    min-width: 425px;
    margin: 0em 1em 1em 1em;
}

.page_content >*
{
    background-color: #eaebea;
    min-width: 425px;
    display: flex;
    flex: 0 1 50em;
    margin-top: 1em;
}

#filtering_params
{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

#filter_optimize div
{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

#filter_optimize div select
{
    flex: 0 1 15em;
    max-height: 2em;
    margin: 1em;
	padding: 5px;
    padding-left: 10px;
    background-color: #fffeb3;
    border: 1px solid #ffe28a;
}

#filter_optimize div input
{
    flex: 0 1 5em;
    max-height: 2em;
    text-align: center;
    color: #fffeb3;
    text-decoration: none;
    border: none;
    background-color: #666547;
    padding: 0.35em;
    margin: 1em;
    font-size: 0.9em;
}

#filter_optimize div input:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
    cursor: pointer;
}

#filter_optimize #checkbox_filters >*
{
    margin: 0em;
    padding: 0em;
    padding-bottom: 1em;
}

#filter_optimize #checkbox_filters input
{
    flex: 0 1 1.5em;
    margin: 0em 0em 1em 1em;
}

#filter_optimize #checkbox_filters label
{
    font-size: 0.9em;
    margin-right: 2em;
}

#checkbox_filters label:hover
{
    cursor: pointer;
}

#no_prod
{
    margin: 1em;
}

#filtered_products
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#filtered_products a
{
    flex: 0 1 23em;
    margin: 1em;
    padding: 0em;
    max-height: none;
    color: black;
}

#filtered_products a:hover
{
    background-color: #e0e0e0;
    box-shadow: inset 0 0 5px #e0e0e0;
}

.filtered_product >*
{
    margin: 1em;
}

.filtered_product .picture
{
    height: 8em;
    width: 8em;
}
