#page_content
{
    justify-content: center;
	flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin: 0em 1em 1em 1em;
    min-width: 425px;
}

#page_content >*
{
    margin-top: 1em;
    display: flex;
    min-width: 425px;
    flex: 0 1 60em;
    background-color: #eaebea;
}

#rate_user
{
    flex-direction: column;
}

#rate_user >*
{
    margin: 1em 1em 0em 1em;
    display: flex;
    justify-content: center;
	flex-direction: row;
    flex-wrap: wrap;
}

#graphical_data >*, .written_data >*
{
    flex: 0 1 50%;
    margin: 1em;
}

#star_selector
{
    flex: 0 1 10em;
    height: 2.5em;
    margin: 1em;
	padding: 5px;
    padding-left: 10px;
    background-color: #fffeb3;
    border: 1px solid #ffe28a;
}

.button
{
    text-align: center;
    color: #fffeb3;
    text-decoration: none;
    border: none;
    background-color: #666547;
    margin: 1em;
    padding: 0.5em;
}

.button:hover
{
    background-color: #706f4e;
    box-shadow: inset 0 0 5px #6b6a4b;
    cursor: pointer;
}

#profile_picture
{
    height: 8em;
    width: 8em;
}

.prod_picture
{
    height: 8em;
    width: 8em;
}

#products
{
    display: flex;
    flex-wrap: wrap; 
    flex-direction: row; 
}

#products h1
{
    margin: 1em;
    flex: 0 1 100%;
}

#products #no_item
{
    margin: 1em;
}

#products a
{
    flex: 0 1 26em;
    margin: 1em;
    max-height: none;
    color: black;
}

#products a:hover
{
    background-color: #e0e0e0;
    box-shadow: inset 0 0 5px #e0e0e0;
}

.product a >*
{
    margin: 1em;
}

#reqUserError
{
    flex: 0 1 40em;
    flex-direction: column; 
}

#reqUserError >*
{
    margin: 1em;
}

#score >*
{
    margin: 0.175em;
    height: 1em;
    width: 1em;
}

.error
{
    padding: 1em;
    color: #fb2e01;
    font-weight:bold;
}

.success
{
    padding: 1em;
    color: #48d692;
    font-weight:bold;
}